# Module 3 Calculations in Python

## Functions and Methods

A function can be called only by its name, as it is defined independently. But methods can't be called by its name only, we need to invoke the class by a reference of that class in which it is defined, i.e. method is defined within a class and hence they are dependent on that class.

The `dir()` function for example returns a list of attributes and methods associated with a varible. 
It can interact with varibles of many types and classes.

In [6]:
a = "Ham"
#a.upper()
#dir(a)
#print(a.upper())
#print(a.capitalize())

Ham

In [7]:
b = 2.2
dir(b)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [8]:
c = [1, 2, 3]
dir(c)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Data Types

A data type is a particular kind of data item, as defined by the values it can take, the programming language used, or the operations that can be performed on it.

There are four basic data types in Python:
- Numeric: These can be either integers or floats. ...
- Boolean: These are True/False values.
- String: These are text values composed of a sequence of characters.
- Sequence: These are collections of data types that can be the same or different.

## Numeric Data Types

## Int

**Int** - In Python, integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision, e.g. 0, 100, -10. The followings are valid integer literals in Python.  
All integers or variables are objects of the int class. Use the type() method to get the class name, as shown below.

In [10]:
#function type()

#type(100)

print(type(0))
print(type(3000))
print(type(-123456677057575))

<class 'int'>
<class 'int'>
<class 'int'>

Uncomment to check data type

In [11]:
a = 1
b = 2 + 3
c = -122323423523 - 2

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

Leading zeros in non-zero integers are not allowed e.g. 000123 is invalid number, 0000 is 0.

In [12]:
print(type(000123))

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (736881631.py, line 1)

Python does not allow comma as number delimiter. Use underscore _ as a delimiter instead.

In [16]:
a = 123,000
type(a)

tuple

In [17]:
a = 123_000
type(a)
print(a)

123000

Integers must be without a fractional part (decimal point).  
If it includes a fractional then it becomes a float.

In [18]:
a = 2
b = 2.0

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [20]:
int(10 / 5)

2

The int() function converts a string or float to int.

[Documentation for the int() function](https://docs.python.org/3/library/functions.html)

[Full list of built in Python functions](https://docs.python.org/3/library/functions.html)

In [21]:
print(type(2.0))
print(type(int(2.0)))

<class 'float'>
<class 'int'>

The int() function truncates and **does not** round floats

In [22]:
a = int(2.2)
c = int(2.5)
d = int(2.8)

print(int(a))
print(int(b))
print(int(c))

2
2
2

#### Simple Calculations Using integers

The console acts as a simple calculator. You can create expressions as command lines and the console will return the values. Expression syntax includes the operators, numbers, and parentheses that can be used for simple grouping. Grouping numeric data types is done with parentheses ().

#### Calculations and Calculations with Variables

- Addition + 
- Subtraction -  
- Multiplication  *
- Exponent **  
- Division /  
- Floor Divison //
- Modulo Division %

In [23]:
(2+3002)/5**3

24.032

In [24]:
6*5*4*3*2

720

In [25]:
#floor

type(15//4.3)
int(15//4.3)

3

In [26]:
### module
type(15%4.3)
15%4.3

2.1000000000000005

In [27]:
15-(4.3*3)

2.1000000000000014

In [30]:
#modulo produces the remainder

2%2, 3%2, 4%2, 5%2, 555%2

(0, 1, 0, 1, 1)

In [29]:
round(15-(4.3*3), 2)

2.1

In [32]:
#Defining a Variable

x=10
y=9
z=8

In [33]:
# Addition
print ((x+y)/z+100)

102.375

In [34]:
# Subtraction
print (x-y)

1

In [35]:
# Multiplication
print (x*y)

90

In [36]:
# Division, always results in float

#print (x/y)
# type(x/y)

a = 9/3
a
type(a)

float

In [37]:
# Floor Division - a normal division operation except that it returns 
# the largest possible integer. 
# This integer is either less than or equal to the normal division result.
print (x//y)

1

In [38]:
# Modulo Division 
# It returns the remainder of dividing the left hand operand by right hand operand. 
# It's used to get the remainder of a division problem.
#print (x%y)

print(44%2)

0

In [39]:
# Exponent
print (x**y)

1000000000

#### 1.2 Logic

In [40]:
print (6 >= 5)

True

In [41]:
print (5 > 4)

True

In [43]:
#print (6=4)

print (6==4)

False

# Float

**Float** - floating point numbers (float), are positive and negative real numbers with a fractional part denoted by the decimal symbol . or the scientific notation E or e, e.g. 1234.56, 3.142, -1.55, 0.23.

In [44]:
print(type(1234.56))
print(type(-32.54))
print(type(2/4))

<class 'float'>
<class 'float'>
<class 'float'>

The maximum size of a float depends on your system. The float beyond its maximum size referred as "inf", "Inf", "INFINITY", or "infinity". Float 2e400 will be considered as infinity for most systems.  
e means `X10**N`

In [45]:
a = 2e400   
# this is 2 times 10 to the 400 power
a

inf

Scientific notation is used as a short representation to express floats having many digits.   
For example: 345.56789 is represented as 3.4556789e2 or 3.4556789E2

In [46]:
print(3.4556789e2)

345.56789

Use the `float()` function to convert an int or a string, to a float.

In [47]:
print(float("5.5"))
print(type(float("5.5")))

5.5
<class 'float'>

In [48]:
print(float(5))
print(type(float(5)))

5.0
<class 'float'>

# String

**String** - a collection of alphabets, words or other characters. It is one of the primitive data structures and are the building blocks for data manipulation. Python has a built-in string class named str . Python strings are "immutable" which means they cannot be changed after they are created

The followings are valid string literals in Python. 
Multi-line strings must be embed in triple quotes, as shown below.

In [50]:
print(type('Hello everybody!'))
print(type("Hi doctor Nick!"))


print('''Every night father fill me with dread
         When he sits at the foot of my bed''')
print("""I don't mind that he speaks, that he gibbers and squeaks
        But for seventeen years he's been dead""" )

<class 'str'>
<class 'str'>
Every night father fill me with dread
         When he sits at the foot of my bed
I don't mind that he speaks, that he gibbers and squeaks
        But for seventeen years he's been dead

If a string literal required to embed double quotes as part of a string then, it should be put in single quotes. Likewise, if a string includes a single quote as a part of a string then, it should be written in double quotes.

In [ ]:
print('Hamlet asked "To be or not to be?" while procrastinating a on a homicide.')
print("Don't stop believing.")

The escape character is used to invoke an alternative implementation of the subsequent character in a sequence. In Python, backslash \ is used as an escape character. Use a backslash character followed by the character you want to insert in a string e.g. \' to include a quote, or \" to include a double quotes in a string, as shown below.

In [51]:
print('Don\'t stop believing')

Don't stop believing

Use the `str()` function to convert a number to a string.

In [52]:
print(5)
print(str(5))
print(type(str(5)))

5
5
<class 'str'>

Use the len() function to retrieve the length of a string, as shown below.

In [53]:
a = "Ham Sandwich"
print(len(a))

12

A string is a squence in python, ie an ordered collection of characters.  
The sequence uses an index, **starting with zero** to fetch a certain item (a character in case of a string) from it.  
You can index a variable using brackets to select any segment or slice of the string.

In [54]:
# 0 1 2 3 4 5 6 7 8 9 10 11 # Index
# H A M   S A N D W I C H 


print(a[4])
print(a[4:12])  #[inclusive:exclusive]
print(a[4:])
print(a[-4:])
print(a)
print(a[::2])

S
Sandwich
Sandwich
wich
HmSnwc

The string is an immutable object.   
Hence, it is not possible to modify it.   
The attempt to assign different characters at a certain index results in errors.

In [55]:
a[0] = "B"

TypeError: 'str' object does not support item assignment

**String Operators**  
`+` Appends the second string to the first, concat

In [56]:
a = "Hello"
b = "World"

print(a + b)

HelloWorld

`*` Concatenates multiple copies of the same string

In [62]:
print(a * 3)
print((" " + a + " " + b) * 3)

HelloHelloHello
 Hello World Hello World Hello World

`[]` Returns the character at the given index

In [63]:
# a[0]

a = "Hello"
print(a[3:])

lo

`in` Returns true if a character exists in the given string

In [59]:
print("x" in a)
print("H" in a)

False
True

`not in` Returns true if a character does not exist in the given string

In [60]:
print("x" not in a)
print("H" not in a)

True
False

In [61]:

#a.upper(a)
#a.startswith("Delicious")
e = d.replace("Ham","Turkey")
e

AttributeError: 'int' object has no attribute 'replace'

#### 2.2 Indexing Operator, Square brackets []

In [65]:
# The indexing operator (Python uses square brackets to enclose the index) 
# selects a single character from a string. The characters are accessed by their 
# position or index value. For example, in the string shown below

a = "Delicious Ham Sandwich"


#b = a[3]
#b = a[10:13]
#b = a[:13]
#b = a[10:]
b = a[:]
print(b)

Delicious Ham Sandwich

In [66]:
len(d)

TypeError: object of type 'int' has no len()

**Bool** - Data composed of two built-in values `True` or `False`.  
Notice that 'T' and 'F' are capital.   
`true` and `false` are not valid booleans and Python will throw an error for them.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [67]:
print(5 > 3)
print(5 < 3)
print(5 == 3)
print(5 >= 3)
print(5 <= 3)
print(5 != 3)

True
False
False
True
False
True

The `bool()` function allows you to evaluate any value, and give you True or False in return,

In [68]:
print(bool(15))
print(bool(-15))
print(bool(0))
print(bool("Ham"))
print(bool(""))

True
True
False
True
False

The `True` bool evaluates as one and the `False` bool evaluates to zero allowing for some weird math.

In [87]:
True + True - False

2

In [69]:
print(True * 10 - False)
print(True * False + 13)

10
13

**None** is returned by functions that don't explicitly return a value.
None: The None represents the null object in Python.

In [70]:
print(1 > None)

TypeError: '>' not supported between instances of 'int' and 'NoneType'

#### Quick Review Type() and Dir()

In [71]:
# What is the data type of the output?
print (x*y/z)

11.25

In [ ]:
#type(x)
#print(type(x))

In [88]:
 a = "Ham"

In [89]:
type (a)

str

In [90]:
b = 2 +5j

In [91]:
type(b)
print(type(b))

<class 'complex'>

In [92]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Split String

The split() method splits a string into a list. You can specify the separator, default separator is any whitespace.

In [85]:
a = "Delicious"
b = "Ham"
c = "Sandwich"
d = a + "&" + b + "&" + c

print(d)

lst = d.split("&")
print(lst)

Delicious&Ham&Sandwich
['Delicious', 'Ham', 'Sandwich']

In [86]:
dir(d)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Input String

In [80]:
#a = input()
a = int(input())

 15

In [83]:
a, type(a)

(15, int)

## Problems

1. Write a program that converts degrees Celcius to Degrees Fahrenheit  
Hint: (Degrees Celcius × 9/5) + 32 = Degrees Fahrenheit  
Degrees Celcius: 10

In [94]:
#1 answer

c = int(input("Enter temp in Celcius"))
f = (c * 9/5) +32
print ("Temp in Fahrenheit is", f)

Enter temp in Celcius 10

Temp in Fahrenheit is 50.0

2. Combine the following strings into the quote "Do or do not. There is no try."

In [98]:
#2 answer

a = "is no try."
b = "Do or do not."
c = "There"
d = b + c  + a
print(d)

Do or do not.Thereis no try.

3. Write a Python program to calculate the area of a triangle  
Hint: Area of Triangle = (Base * Height)/2  
Height : 5  
Base: 5

In [111]:
#3 Answer:

height = 5
base = 5
area = (base * height)/2

print(area)

12.5

4. Write a program that adds NYC sales tax to a purchase  
Hint: NYC Sales Tax = 8.875%  
Purchase: $234

In [110]:
#4 Answer: 

x = 234
y = 8.875
z = (x / y) + x

print(z)

260.3661971830986

In [101]:
quote1 = """In '87, Huey released this, Fore, their most accomplished album. I think their undisputed masterpiece is "Hip to be Square", a song so catchy, most people probably don't listen to the lyrics. But they should, because it's not just about the pleasures of conformity, and the importance of trends, it's also a personal statement about the band itself."""

5. Using the speech above reurn only the second sentence.

In [102]:
#5 answer

quote1.split(".")[2]

" But they should, because it's not just about the pleasures of conformity, and the importance of trends, it's also a personal statement about the band itself"

In [103]:
quote2 = "Any fool can write code that a computer can understand. Good programmers write code that humans can understand."

6. Split the above string into a list:

In [104]:
#6 answer

quote2.split()

['Any',
 'fool',
 'can',
 'write',
 'code',
 'that',
 'a',
 'computer',
 'can',
 'understand.',
 'Good',
 'programmers',
 'write',
 'code',
 'that',
 'humans',
 'can',
 'understand.']

In [106]:
quote3 = "Code is like humor. When you have to explain it, it’s bad."

7. Using the quote above, return every third word in the quote.

In [107]:
#7 answer

print(quote3.split()[::3])

['Code', 'humor.', 'have', 'it,']