# Module 3 Calculations in Python

# `type()` and `dir()` are more powerful than you can imagine

In [1]:
import math

In [2]:
type(math)
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [3]:
import pandas

In [4]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## Tuples

**Tuples** are used to store multiple items of one or multiple data types in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and immutable.

A sequence of data surrounded py parenthesis.

In [14]:
t1 = (1,3,5,6,9)
t2 = ("Ham", "Turkey", "Roast Beef")
t3 = (1, "Ham", 3.2, True)
t4 = ("Ham")
t5 = ("Ham",)

type(t1), type(t2), type(t3), type(t4), type(t5)

(tuple, tuple, tuple, str, tuple)

Python defaults to tuples when creating collections (even in the absence of parentheses because it reads the presence of the comma which hints to the computer that a collection is possibly being made)

In [15]:
t1 = 1,3,5,6,9
t2 = "Ham", "Turkey", "Roast Beef"
t3 = 1, "Ham", 3.2, True
t4 = "Ham"
t5 = "Ham",


type(t1), type(t2), type(t3), type(t4), type(t5)

(tuple, tuple, tuple, str, tuple)

You can iterate over a tuple

In [23]:
print(t1[0])
print(t2[1])

1
Turkey

Some elements have an Index

In [24]:
a = t2[1]
print(a[0])

T

You can use the `len()` function to display the number of elements in a tuple.

In [27]:
print(len(t1))
print(len(t2))

5
3

Tuples are not associated with a whole lot of methods and are pretty light on the memory.

In [29]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

How to use tuples in a data analysis context

In [30]:
survey_results = ("Vadim", "Flushing", 12345)

then you want to assign variables quickly

In [31]:
name, location, high_score = survey_results

In [32]:
print("Name: ", name)
print("Location: ", location)
print("High score: ", high_score)

Name:  Vadim
Location:  Flushing
High score:  12345

In [35]:
my_tuple = (1, 'Ham', 'Llama', 'Cheese')
v1, v2, v3, v4 = my_tuple
print(my_tuple)

(1, 'Ham', 'Llama', 'Cheese')

## Lists

#### 3.1 Intro

Lists are used to store multiple items of one or more data types in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are mutable (You can add remove or change data)

Lists are created using square brackets:

In [47]:
#lst1 = ["a","b","c","d","e","f","g"]
#lst2 = [a,b,c,d,e,f,g]
#lst3 = [1,2,3,4,5,6,7]
#lst4 = [1,"b",3,"d",5,"f",7]
#lst5 = ["1","b","3","d","5","f","7"]
#lst6 = [[1,2],[3,4],[5,6,7,8]] 
lst7 = [["a","b"],[3,4],["e","f"]]

print(lst7)
#print(type(lst3))
#print(lst7[0])

[['a', 'b'], [3, 4], ['e', 'f']]

Use the 'append()' method to add a list to the list

In [ ]:
#dir(lst7)

In [50]:
lst7.append(["Ham", "Cheese"])

In [51]:
print(lst7)

[['a', 'b'], [3, 4], ['e', 'f'], ['Ham', 'Cheese']]

Remove an element using the "pop(index)" method

In [55]:
lst7

[['a', 'b'], [3, 4], ['e', 'f'], ['Ham', 'Cheese']]

In [56]:
lst7.pop(3)
lst7

[['a', 'b'], [3, 4], ['e', 'f']]

Remove an element using the "remove(element)" method using the element itself

In [57]:
lst7.remove([3,4])

In [58]:
print(lst7)

[['a', 'b'], ['e', 'f']]

To insert a value at a given index, use the "insert(index, element)" method

In [60]:
lst7.insert(1,["c", "d"])

In [62]:
print(lst7)

[['a', 'b'], ['c', 'd'], ['e', 'f']]

# Sets

**Sets** are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unique, unordered, unchangeable*, and unindexed.

In [63]:
set1 = {1,2,3}

In [64]:
len(set1)

3

In [65]:
dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [69]:
set1.add(4)
set1

{1, 2, 3, 4}

In [71]:
set1.add(5)
set1

{1, 2, 3, 4, 5}

In [72]:
set1.remove(5)
set1

{1, 2, 3, 4}

##### Operations on sets with `|`,`&`,`-`

In [73]:
set1 = {4,5,6,7}
set2 = {1,2,3,4,5,6,7}

In [74]:
set2 = {1,2,3,4,5,6,7}

In [75]:
set3 = set1|set2
set3

{1, 2, 3, 4, 5, 6, 7}

In [76]:
set4 = set1&set2
set4

{4, 5, 6, 7}

In [77]:
set5 = set2-set1
set5

{1, 2, 3}

In [79]:
lst1 = [1,1,1,2,2,2,3,4,5,6,7,7,7]

unique_set = set(lst1)

unique_set

{1, 2, 3, 4, 5, 6, 7}

# Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, mutable and do not allow duplicates.

dictionary = {key1:value1, key2:value2....}

How you create a dictionary:

In [80]:
capitals = {"USA":"Washington D.C.",
            "Japan": "Tokyo",
            "India":"New Delhi",
            "Cuba": "Santiago",
           "Switzerland":"Bern"}

To retrive a value from a dictrionary use the key

In [81]:
print(capitals["India"])

New Delhi

##### Add key/value pair to dictionary with the `update()` method

In [82]:
capitals.update({"Germany":"Berlin"})

In [83]:
print(capitals)

{'USA': 'Washington D.C.', 'Japan': 'Tokyo', 'India': 'New Delhi', 'Cuba': 'Santiago', 'Switzerland': 'Bern', 'Germany': 'Berlin'}

##### Alter key/value pair in the dictionary with the `update()` method

In [84]:
capitals.update({"Cuba":"Havana"})

In [85]:
print(capitals)

{'USA': 'Washington D.C.', 'Japan': 'Tokyo', 'India': 'New Delhi', 'Cuba': 'Havana', 'Switzerland': 'Bern', 'Germany': 'Berlin'}

##### Remove key/value pair from the dictionary with the `pop()` method

In [86]:
capitals.pop("Switzerland")

'Bern'

In [87]:
print(capitals)

{'USA': 'Washington D.C.', 'Japan': 'Tokyo', 'India': 'New Delhi', 'Cuba': 'Havana', 'Germany': 'Berlin'}

##### Remove most recent key/value pair with `popitem()`

In [88]:
capitals.popitem()

('Germany', 'Berlin')

In [89]:
print(capitals)

{'USA': 'Washington D.C.', 'Japan': 'Tokyo', 'India': 'New Delhi', 'Cuba': 'Havana'}

##### Retrieve all keys in dictionary with the `keys()` method

In [90]:
keys = capitals.keys()

In [91]:
keys

dict_keys(['USA', 'Japan', 'India', 'Cuba'])

##### Retrieve all values in dictionary with the `values()` method

In [92]:
values = capitals.keys()

In [93]:
values

dict_keys(['USA', 'Japan', 'India', 'Cuba'])