# Python Module 5: Anonymous Functions

## 1.0 Anonymous Functions = Lambda Expressions.

In Python, an anonymous function is a function that is defined without a name.
While normal functions are defined using the def keyword in Python, anonymous functions are defined using the lambda keyword.
Hence, anonymous functions are also called lambda functions.

### Print vs Return

Use print when you want to show a value to a human, `return` is a different beast however. When a return statement is reached, Python will stop the execution of the current function, sending a value out to where the function was called. Use `return` when you want to send a value from one point in your code to another.

In [1]:
def print_double(x):
    print(x*2)
    
print_double(2)

4

In [2]:
def return_double(x):
    return x*2

return_double(2)

4

In [3]:
#x = print_double(print_double(2))
#x

In [4]:
x = return_double(2)
x

4

In [5]:
# Nesting Functions With Return
x = return_double(return_double(2))
x

8

Whenever you create a function that may be later used in other functions, pretty much always, use `return`.

### 1.1 Making a function by traditional methods

`def function_name(inputs):`  there can be zero or more inputs  
`   return expression_or_logic`

In [6]:
# Define a function that converts degrees celcius to degrees fahreheit

def celcius_to_fahrenheit_temp_converter(temp_celcius):
    return "Temp Fahrenheit: " + str(temp_celcius * 9/5 + 32)

In [7]:
# Call the function at any time to use the conversion

celcius_to_fahrenheit_temp_converter(-20)

'Temp Fahrenheit: -4.0'

### 1.2 Lambda Expressions: 
`lambda input_name: formula_for_output`

In [8]:
# Create a lambda expression

lambda temp_celcius: "Temp Fahrenheit: " + str(temp_celcius * 9/5 + 32)

#the function is not named and therefore anonymous

To use the function we will need to name it

In [9]:
g = lambda temp_celcius: "Temp Fahrenheit: " + str(temp_celcius * 9/5 + 32)

Having named the function we can now use it same as any other function

In [10]:
g(15)

'Temp Fahrenheit: 59.0'

Q1. Define a function and a lambda function that provides the square of any number

In [11]:
def sq(x):
    return(x*x)

sq(4)

g = lambda x: x * x
g(3)

9

Let's create a function for taking in our users first name and last name
- The .strip() string method removes leading and trailing spaces
- The .title() string method capitalizes the first letter of the word
- You may remember these methods as TRIM() and PROPER() from MS Excel

In [12]:
def full_name(first_name,last_name):
    return first_name.strip().title() + " " + last_name.strip().title()

In [13]:
full_name("beNedict","  cumberbatch  ")

'Benedict Cumberbatch'

Let's try a lambda expression

In [14]:
full_name = lambda first_name, last_name: first_name.strip().title() + " " + last_name.strip().title()

In [15]:
full_name(" maRk","  zuckerberg")

'Mark Zuckerberg'

### Map()

`map(fun, iter)`

function that returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [16]:
# We want to make a function that squares a number

def sq(x):
    return x*x

In [17]:
# We want to square every number in a list

lst = [1,2,3,4,5,6,7,8,9,10]
lst2=[]

for x in lst:
    lst2.append(sq(x))
    
print(lst2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# With map() function we can apply a function to every element of a list

print(list(map(sq, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
print(list(map(lambda x: x*x, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
lst = list(range(5,26))
lst

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

Challenge 1:

In one line print the output of a function that takes 10% of every value in lst, triples it and prints it out in a list.

In [21]:
lst = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
print(list((map(lambda x: round((x*.1)*3,2),lst))))

[1.5, 1.8, 2.1, 2.4, 2.7, 3.0, 3.3, 3.6, 3.9, 4.2, 4.5, 4.8, 5.1, 5.4, 5.7, 6.0, 6.3, 6.6, 6.9, 7.2, 7.5]

Combine two lists of first names and last names into a single name called full_name (trim and proper please)

Hint: lambda input1, input2: expression

In [22]:
fname = ["Phillip"," anDrew ", " vinny"]
lname = ["dick ", "GARFIeld", "testaverde"]

In [23]:
print(lst)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [24]:
print(x)

10